#timeline .post{
	margin: 0 0 10px 0;
	float: left;
}
#timeline .post.last{
	margin-bottom: 0;
}
#timeline .post .inner{
	position: relative;
	padding: 11px;
	border: 1px #adadad solid;
	min-height:37px;
	word-wrap:break-word;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	-webkit-box-shadow:  0px 1px 1px 0px #adadad;
	-moz-box-shadow:  0px 1px 1px 0px #adadad;
	box-shadow:  0px 1px 1px 0px #adadad;
}
#timeline .post.right{
	float: right;
}
#timeline .item .timestamp{
	display: none;
}
#timeline .post .date{
	font-size: 20px;
	text-align: center;
	position: absolute;
	top: 19px;
	display: block;
	width: 54px;
	height: 21px;
	line-height: 20px;
	font-family: "miso","Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
}
#timeline .post.left .date{
	background: transparent url(../img/tab-left.png) no-repeat right;
	right: -54px;
}
#timeline .post.right .date{
	background: transparent url(../img/tab-right.png) no-repeat left;
	left: -54px;
}
#timeline .year-marker {
	float: left;
	width: 80px;
	margin: 50px 0 15px 0;
}
#timeline .year-marker.top{
	margin-top: 0;
}
#timeline .year-marker .inner{
	background-color: #339999;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
}
#timeline .year{
	text-align: center;
	color: #fff;
	font-size: 24px;
	font-family: "miso","Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
	height: 26px;
	line-height: 26px;
}
#line-container{
	width: 4px;
	text-align: center;
	margin: 0 auto;
	display: block;
}
.isotope #line{
	margin: 0 auto;
	background-color: #339999;
	display: block;
	float: left;
	height: 100%;
	width: 4px;
	position: absolute;
}
a.active:hover,
a.active{
	background-color: #f6f6f6;
	color: #a9a9a9;
	-webkit-box-shadow:  none;
	-moz-box-shadow:  none;
	box-shadow:  none;
	cursor: default;
}
/**** Isotope Filtering ****/
.isotope-item {
	z-index: 2;
}
.isotope-hidden.isotope-item {
	pointer-events: none;
	z-index: 1;
}

/**** Isotope CSS3 transitions ****/
.isotope,
.isotope .isotope-item {
	-webkit-transition-duration: 0.8s;
	-moz-transition-duration: 0.8s;
	-ms-transition-duration: 0.8s;
	-o-transition-duration: 0.8s;
	transition-duration: 0.8s;
}
.isotope {
	-webkit-transition-property: height, width;
	-moz-transition-property: height, width;
	-ms-transition-property: height, width;
	-o-transition-property: height, width;
	transition-property: height, width;
}
.isotope .isotope-item {
	-webkit-transition-property: -webkit-transform, opacity;
	-moz-transition-property:    -moz-transform, opacity;
	-ms-transition-property:     -ms-transform, opacity;
	-o-transition-property:         top, left, opacity;
	transition-property:         transform, opacity;
}

/**** disabling Isotope CSS3 transitions ****/
.isotope.no-transition,
.isotope.no-transition .isotope-item,
.isotope .isotope-item.no-transition {
	-webkit-transition-duration: 0s;
	-moz-transition-duration: 0s;
	-ms-transition-duration: 0s;
	-o-transition-duration: 0s;
	transition-duration: 0s;
}